/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require home


 *= require ngprogress
 *= require animate+animo
 *= require sidebar
 *= require map

 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
  @extend .alert-success;
}

.alert-alert{
  @extend .alert-warning
}

.station-select-group{
  margin-right: 40px;
}

#map-container{
  height: 500px;
  .operation-container{
    position: absolute; 
    z-index:  1024;
    background: #fff;
    width: 300px;
    height: 60px;
    top: 0;
    right: 0;
  }
}

.operation-area{
  position: absolute;
  z-index: 1024;
  background: #fff;
}

