/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 
 *= require bootstrap-custom
 *= require select2
 *= require select2-bootstrap
 *= require home
 *= require pnotify.core
 *= require ngprogress
 *= require drawing-manager14
 *= require search-info-window14
 *= require sidebar
 *= require area
 *= require map
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "compass";

html, body, .main-content,  #map-container{
  height: 100%;
}
.content-container{
  position:relative;
  width: 85%;
  height: 100%;
  float:left;
  padding-left:15px;
  margin-bottom: 10px;
}
.bare-container{
  position:relative;
  width: 100%;
  height: 100%;
}

.content-wraper{
  margin: 15px;
}

.main-content{
  margin: 10px 15px;
  margin-top: 65px;
  height: 100%;
  position:relative;
}
.sidebar{
  position:relative;
  width: 15%;
  height: 100%;
  padding-right: 15px;
  float:left;
}

.station-select-group{
  margin-right: 40px;
}
.modal-dialog{
  top: 150px;
}

#map-container{
  height: 100%;
  .operation-container{
    position: absolute; 
    z-index:  1024;
    background: #fff;
    width: 300px;
    height: 60px;
    top: 0;
    right: 0;
  }
}

.operation-area{

  position: absolute;
  z-index: 1024;
  background: #fff;
  margin: 5px;
  padding: 10px;
  @include border-radius(3px);
  border: 1px solid #428bca;
}
.logo{
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 100000;
  background-color: #000;
  height: 50px;
  padding: 10px 0;
  .logo-img{
    width: 100px; 
    margin-left: 30px;
  }
}
.logo-img{
  width: 100px; 
  margin-top: 10px;
}


.flash-message{
  width: 100%;
  padding: 10px 15px;
}

.expressman-container{
  margin-top: 30px;
}
