
$global-font-family: 'Microsoft YaHei','微软雅黑',Tahoma, Arial,'Helvetica Neue', Helvetica,sans-serif,'宋体';
$global-font-size: 14px;


@mixin global-font {
  font-family: $global-font-family;
  font-size: $global-font-size;
}

body{
    @include global-font;
    // padding-top: 50px;
}

.navbar-send{
  position: absolute;
  width: 64px;
  height: 64px;
  line-height: 60px;
  text-align: center;
  background: #f0ad4e;
  border: 2px solid #ffffff;
  top: 0;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  z-index: 20;
  .btn-send{
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0 0;
  } 
  
}
.footer{
   padding-bottom:15px;
}
